@charset "UTF-8";

* {
	
	margin: 0;
	padding: 0;
	font-family: '본고딕 KR', sans-serif;
	
}

a {
	
	text-decoration: none !important;
}


a:hover {
	
	
	text-decoration: none !important;
	
	
}


li {
	
	
	list-style: none;
	
}

body {
	
	background-color: #f0f2f4;
	overflow-x: hidden;
	
}


#header_box {
	
	width: 100%;
	height: 70px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 999;
	
	
}

#header_box2 {
	
	
	
	width: 100%;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
}

#header_logo {
	
	position: absolute;
	top: 25px;
	left: 20px;
	padding: 0 20px;
	font-size: 1em;
	font-weight: 900;
	
}

#header_logo a {
	
	
	
	color: black;
	
}





#header_nav {
	
	float: left;
	padding-top: 25px;
	padding-left: 410px;
	
}


#header_nav li {
	
	float: left;
	font-weight: bold;
	text-align: center;
	padding: 0 10px;
	
}



#header_nav li a {
	
	
	color: black;
	font-size: 1em;
	
}

#header_nav li a:hover {
	
	
	color: #8e8e8e;
	font-size: 1em;
	
}

.search {
	
	display: block;
	position: absolute;
	right: 100px;
	top:25px;
	width: 30px;
	text-indent: -9999px;
	background: url(/sm_enter/images/b_search.png) no-repeat center center;
	vertical-align: middle;
}

#menu_bar {
	
	float: left;
	
}

.menu_btn {
	
	display: block;
	position: absolute;
	right: 50px;
	top: 25px;
	text-indent: -9999px;
	width: 30px;
	background: url(/sm_enter/images/b_menu.png) no-repeat center center;
	vertical-align: middle;
}



#feed_btn {
	
	width: 100%;
	text-align: center;
	margin-top: 50px;
	box-sizing: border-box;
	
}


#btn_more{
	
	display:inline-block;
	width: 220px;
	height: 54px;
	font-size: 1.2em;
	line-height: 54px;
	font-size: 1em;
	color: black;
	font-weight: bold;
	border: 1px solid black;
	box-sizing: border-box;
	margin-bottom: 30px;
	
}


/* header end */


/* contents start */



#join {
	
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	
	
}

#h_join{
	
	width: 1080px;
	margin: 0 auto;
	text-align: center;
	
}


#join_ul {
	
	height: 80px;
	margin-top: 80px;
	border-radius: 10px;
	background: url(/web_ex3/images/header_bg.png);
	text-align: center;
}

#join_ul li {
	
	width: 20.5%;
	float: left;
	padding: 0 20px;
	line-height: 80px;
	font-size: 1em;
	color: white;
	
}

#join_ul .j_li {
	
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	font-weight: bold;
}





#join_box {
	
	
	width: 100%;
	background-color: white;
	border: 1px solid #dedede;
	margin: 70px auto;
	padding: 5%;
	box-sizing: border-box;
	
}

#title_box {
	
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 3px solid #dedede;
	
}

#title_box span {
	
	display: block;
	text-align: left;
}

.join_title {
	
	
	font-size: 2em;
	font-weight: 900;
	color: black;
	letter-spacing: -1px;
	
}

.join_txt {
	
	font-size: 0.9em;
	color: #919191;
	
}

#join_form {
	
	width: 100%;
	margin: 20px auto;
	position: relative;
	
}

.td_title {
	
	width:400px;
	text-align: left;
	font-size: 1.1em;
	color: black;
	font-weight: bold;
	padding: 30px 0;
	padding-left: 20px;
	letter-spacing: -1px;
	
}

#join_form input {
	
	box-sizing: border-box;
	float: left;
}

#join_form input::placeholder {
	
	color: #bababa;
}


#join_form #fname {
	
  	border: 1px solid #d4d4d4;
  	line-height: 45px;
  	padding-left: 15px;
  	border-radius: 4px;
  	text-align: left;
  	color: #d4d4d4;
}

#join_form #fpw {
	
	
	border: 1px solid #d4d4d4;
  	line-height: 45px;
  	padding-left: 15px;
  	padding-right: 35px;
  	border-radius: 4px;
  	text-align: left;
  	color: #d4d4d4;
	
}

#join_form #femail {
	
	border: 1px solid #d4d4d4;
  	line-height: 45px;
  	padding-left: 15px;
  	padding-right: 5px;
  	border-radius: 4px;
  	text-align: left;
  	color: #d4d4d4;
	
} 

#join_form #femail2 {
	
	border: 1px solid #d4d4d4;
  	line-height: 45px;
  	padding-left: 15px;
  	padding-right: 5px;
  	border-radius: 4px;
  	text-align: left;
  	color: #d4d4d4;
  	margin-left: -50px;
	
} 




#button {
	
	
	padding: 13px;
  	background-color: #d4d4d4;
 	 border-radius: 4px;
 	 border: none;
 	 margin-left: -70px;
  	resize: vertical;
  	cursor: pointer;
	
}

.td_pw {
	
	width:200px;
	text-align: left;
	font-size: 1.1em;
	color: black;
	font-weight: bold;
	padding-left: 20px;
	letter-spacing: -1px;
	
}

.tr_pw {
	
	padding-bottom: 30px;
	
}

.td_1 {
	
	width: 30%;
}

.td_2 {
	
	width: 300px;
}

.td_s {
	
	padding-top: 15px;
	float: left;
}



.td_3 {
	
	padding-bottom: 50px;
	
	
}

.td_4 {
	
	padding-top: 10px;
	padding-bottom: 30px;
	
}




.pw_info {
	
	position:absolute;
	letter-spacing: -1px;
	font-size: 0.8em;
	color: #9b9b9b;
	text-align: left;
	margin-top: -20px;
	margin-bottom: 50px;
	border: 1px solig black;
}





.e_txt {
	
	font-size: 0.9em;
	font-weight: 700;
	color: black;
	margin-left: -120px;
	padding-right: 10px
}

#select_email {
	
	border: 1px solid #d4d4d4;
	height: 48px;
  	line-height: 45px;
  	padding-left: 5px;
  	padding-right: 5px;
  	border-radius: 4px;
  	text-align: left;
  	color: #9b9b9b;
	margin-left: -200px;	
}


#select_birth {
	
	border: 1px solid #d4d4d4;
	height: 48px;
  	line-height: 45px;
  	padding-left: 5px;
  	padding-right: 25px;
  	border-radius: 4px;
  	text-align: left;
  	color: #9b9b9b;
}

#select_month {
	
	border: 1px solid #d4d4d4;
	height: 48px;
  	line-height: 45px;
  	padding-left: 5px;
  	padding-right: 15px;
  	border-radius: 4px;
  	text-align: left;
  	color: #9b9b9b;
  	margin: 0 10px;
}

#select_date {
	
	border: 1px solid #d4d4d4;
	height: 48px;
  	line-height: 45px;
  	padding-left: 5px;
  	padding-right: 15px;
  	border-radius: 4px;
  	text-align: left;
  	color: #9b9b9b;
}

#bg img{
	
	position: absolute;
	top:400px;
	right: 0;
	z-index: -50;
	
}


input[type='radio'] {
	
	margin-top: 3px;

}

.pp {
	
	float: left;
	padding-right: 30px;
	
}
.pp span {
	
	padding: 0 10px;
	vertical-align: top;
	font-size: 0.9em;
	color: #9b9b9b;
	
}

.birth_check {
	
	position: absolute;
	right: 150px;
	margin-top: -60px;
	
}

.pp2 {
	
	float: left;
	padding-right: 30px;
	
}
.pp2 span {
	
	padding: 0 10px;
	vertical-align: top;
	font-size: 0.9em;
	color: #9b9b9b;
	
}






/* contents end */

/* footer start */

#footer {
	
	width: 100%;
	height: 210px;
	background-color: white;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}



#footer_box {
	
	
	padding: 2.5%;
	position: relative;
	
}


#ft_logo {
	
	display:inline-block;
	float: left;
}

#ft_nav{
	
	
	position: absolute;
	left: 400px;
	top:45px;
	
}


.ft_li {
	
	float: left;
	padding: 0 15px;
	background: url(/sm_enter/images/icon_ft_line.png) no-repeat right center;
	
	
}


#ft_nav li:last-child {
	

	background: none;
	
}


.ft_li a {
	
	color: black;
	font-size: 0.8em;
	font-weight: bold;
}


.ft_s {
	
	color: black;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
	border: none;
	vertical-align: middle;
	height: 20px;
	line-height: 25px;
}

#ft_info {
	
	
	position: absolute;
	top:40px;
	left: 15px;
	
	
}

#ft_info p {
	
	width: 1080px;
	font-size: 0.8em;
	color: #666;
	text-align: left;
	line-height: 23px;
	
	
}


#ft_sns {
	
	
	
	float: right;
}


#ft_sns li {
	
	
	float: left;
	padding: 0 5px;
	
}